@model EmployeeProjectManagementSystem.Models.Department

<h2>Create Department</h2>

<form method="post">

<div class="form-group">

<label>Department Name</label>

<input class="form-control" asp-for="Name" />

</div>

<br/>

<button class="btn btn-success">Create</button>

<a class="btn btn-secondary" href="/Departments">Back</a>

</form>