@model IEnumerable<EmployeeProjectManagementSystem.Models.Department>

<h2>Departments</h2>

<a class="btn btn-primary mb-3" href="/Departments/Create">
Create Department
</a>

<table class="table table-bordered">

<tr>
<th>Name</th>
<th>Actions</th>
</tr>

@foreach(var d in Model)
{
<tr>

<td>@d.Name</td>

<td>
<a class="btn btn-warning btn-sm" href="/Departments/Edit/@d.DepartmentId">
Edit
</a>

<a class="btn btn-danger btn-sm" href="/Departments/Delete/@d.DepartmentId">
Delete
</a>
</td>

</tr>
}

</table>