<h2>Students</h2>

<ul>
@foreach (var student in ViewBag.Students)
{
    <li>@student</li>
}
</ul>

<h2>Request Logs</h2>

<table border="1">
<tr>
    <th>URL</th>
    <th>Execution Time (ms)</th>
    <th>Timestamp</th>
</tr>

@foreach (var log in ViewBag.Logs)
{
<tr>
    <td>@log.Url</td>
    <td>@log.ExecutionTime</td>
    <td>@log.TimeStamp</td>
</tr>
}
</table>